server {
    listen 443 ssl;
    listen [::]:443 ssl;
    server_name ${AUTH_DOMAIN};

    ssl_certificate ${TLS_CERTIFICATE};
    ssl_certificate_key ${TLS_CERTIFICATE_KEY};
    include /etc/nginx/snippets/tls.conf;

    location / {
        set $gateway_auth_upstream "${AUTH_UPSTREAM}";

        include /etc/nginx/snippets/proxy-headers.conf;
        include /etc/nginx/snippets/proxy-timeouts.conf;
        include /etc/nginx/snippets/security-headers.conf;

        proxy_pass http://$gateway_auth_upstream;
    }
}
