server {
    listen 80;
    listen [::]:80;
    server_name ${OVERSEER_DOMAIN};

    if ($gateway_tls_redirect = 1) {
        return 301 https://$host$request_uri;
    }

    location / {
        set $gateway_overseer_upstream "${OVERSEER_UPSTREAM}";

        include /etc/nginx/snippets/proxy-headers.conf;
        include /etc/nginx/snippets/proxy-timeouts.conf;
        include /etc/nginx/snippets/security-headers.conf;

        proxy_pass http://$gateway_overseer_upstream;
    }
}
