# WordPress Configuration
WORDPRESS_DB_HOST=website-db:3306
WORDPRESS_DB_NAME=wordpress
WORDPRESS_DB_USER=wordpress
WORDPRESS_DB_PASSWORD=change-me-wordpress-password

# MySQL Configuration
MYSQL_ROOT_PASSWORD=change-me-wordpress-root-password
MYSQL_DATABASE=wordpress
MYSQL_USER=wordpress
MYSQL_PASSWORD=change-me-wordpress-password

# WordPress Settings
WORDPRESS_TITLE=My WordPress Site
WORDPRESS_ADMIN_USER=admin
WORDPRESS_ADMIN_PASSWORD=change-me-wordpress-admin-password
WORDPRESS_ADMIN_EMAIL=admin@example.com

# Site Settings
WP_HOME=http://app.localhost
WP_SITEURL=http://app.localhost

# PHP Settings
PHP_MEMORY_LIMIT=256M
PHP_MAX_UPLOAD_SIZE=64M
