limit_req_zone $binary_remote_addr zone=api_per_ip:10m rate=${API_RATE_LIMIT};

server {
    listen 80;
    listen [::]:80;
    server_name ${API_DOMAIN};

    if ($gateway_tls_redirect = 1) {
        return 301 https://$host$request_uri;
    }

    location / {
        set $gateway_api_upstream "${API_UPSTREAM}";

        limit_req zone=api_per_ip burst=${API_RATE_BURST} nodelay;
        limit_req_status 429;

        include /etc/nginx/snippets/proxy-headers.conf;
        include /etc/nginx/snippets/proxy-timeouts.conf;
        include /etc/nginx/snippets/security-headers.conf;

        proxy_pass http://$gateway_api_upstream;
    }
}
