# Application running environment (DEVELOPMENT, PRODUCTION)
ENVIRONMENT=PRODUCTION

# WARNING: keep the secret key used in production secret!=# SECURIT
SECRET_KEY="^z4n2i1e-649^#m^n^aj3j&cnz(_v-(7j!5210=5ba2hp*#v33"

# Datebase configration
DB_CONNECTION=postgres
DB_HOST=localhost
DB_PORT=3306
DB_USERNAME=postgres
DB_PASSWORD=root
DB_DATABASE=laravel

# Email SMTP configuration
EMAIL_HOST=host
EMAIL_PORT=port
EMAIL_HOST_USER=username
EMAIL_HOST_PASSWORD=password
EMAIL_USE_TLS=use_tls
EMAIL_USE_SSL=use_ssl
EMAIL_TIMEOUT=timeout
EMAIL_SSL_KEYFILE=ssl_keyfile
EMAIL_SSL_CERTFILE=ssl_certfile

LOCALE=en-us

TIMEZONE=UTC
